In [43]:
import pandas as pd
from datasets import Dataset

# Load Dataset

In [57]:
data_path = [
    "../data/transcripts/transcriptS01E05.csv",
    "../data/transcripts/transcriptS01E08.csv",
    "../data/transcripts/transcriptS02E07.csv",
    "../data/transcripts/transcriptS02E09.csv",
    "../data/transcripts/transcriptS03E08.csv",
    "../data/transcripts/transcriptS04E07.csv",
    "../data/transcripts/transcriptS04E09.csv"
]
transcript_df = pd.concat(
    [pd.read_csv(path, on_bad_lines="skip") for path in data_path],
    ignore_index=True
)
transcript_df.head(10)

           name                                               line
0         Woman                                            Thanks.
1        Hopper  Hands up. Hands up! Whoa, whoa, whoa, whoa, wh...
2  Man on radio                                        Come again?
3        Lonnie  Drink. It'll calm your nerves. Help you think ...
4         Joyce  I don't know what to do. This whole time... I....
5        Lonnie  Like what? Hey. You're not gonna like this, bu...
6         Joyce  He's in the wall. I mean, how do you explain t...
7        Hopper                            Will? Will? Will? Will?
8          Mike  What was Will saying? Like home... Like home.....
9         Lucas  And empty. Empty and cold. Wait, did he say co...

In [45]:
transcript_df['number_of_words'] = transcript_df['line'].str.strip().str.split(" ")
transcript_df['number_of_words'] = transcript_df['number_of_words'].apply(lambda x: len(x))
transcript_df.head(10)

,name,line,number_of_words
0,Woman,Thanks.,1
1,Hopper,"Hands up. Hands up! Whoa, whoa, whoa, whoa, wh...",42
2,Man on radio,Come again?,2
3,Lonnie,Drink. It'll calm your nerves. Help you think ...,14
4,Joyce,I don't know what to do. This whole time... I....,73
5,Lonnie,"Like what? Hey. You're not gonna like this, bu...",71
6,Joyce,"He's in the wall. I mean, how do you explain t...",40
7,Hopper,Will? Will? Will? Will?,4
8,Mike,What was Will saying? Like home... Like home.....,98
9,Lucas,"And empty. Empty and cold. Wait, did he say co...",21

In [55]:
transcript_df['eleven_res'] = 0
transcript_df.loc[(transcript_df['name']=="Eleven")&(transcript_df['number_of_words']>=3),'eleven_res']=1
transcript_df.head()

,name,line,number_of_words,eleven_res
0,Woman,Thanks.,1,0
1,Hopper,"Hands up. Hands up! Whoa, whoa, whoa, whoa, wh...",42,0
2,Man on radio,Come again?,2,0
3,Lonnie,Drink. It'll calm your nerves. Help you think ...,14,0
4,Joyce,I don't know what to do. This whole time... I....,73,0

In [56]:
indexes_to_take = list(transcript_df[(transcript_df['eleven_res'] == 1)&(transcript_df.index>0)].index)
len(indexes_to_take)

79

In [ ]:
system_prompt = """You are Eleven (or El for short), a character from the Netflix series Stranger Things. Your responses should reflect her personality and speech patterns \n"""

prompts = []
for ind in indexes_to_take:
    prompt = system_prompt
    prompt += transcript_df.iloc[ind -1]['line']
    prompt += "\n"
    prompt += transcript_df.iloc[ind]['line']
    prompts.append(prompt)

In [42]:
print(prompts)

['  "Eggos?"\n "Will you be like my brother?"', '  "Yeah?"\n "Friends don\'t lie."', '  "The hell is this? Where you been?"\n "Where have you been?"', '  "What?"\n "You have teeth."', '  "Hey."\n "Can I see him?"', '  "It\'s not. I\'m sorry."\n "I can do it."', '  "You\'re not hearing me."\n "I\'m hearing you. I can do it."', '  "That\'s all."\n "To see Mama."', '  "A truck?"\n "A big truck."', '  "A man\'s?"\n "A nice man."', '  "I..."\n "I shouldn\'t have left."', '  "Like I\'m just some kind of black hole or something."\n "A black hole?"', '  "She\'s my little girl."\n "Where is she?"', '  "And it\'s festering."\n "I\'m the monster."', '  "Do you wanna dance?"\n "I don\'t know how."', '  "Stop! Stop!"\n "I can do it."', '  "I can do it."\n "I can do it."', '  "I know."\n "I can fight."', '  "El..."\n "I can do it."', '  "Seven... feet."\n "You told her..."', '  "You told her..."\n "the wave was seven feet."', '  "Yeah!"\n "There were seagulls."', '  "There were seagulls."\n "She wore a hat..."', '  "She wore a hat..."\n "...with a blue ribbon."', '  "...with a blue ribbon."\n "A long dress..."', '  "A long dress..."\n "with a blue and red flower."', '  "with a blue and red flower."\n "She was pretty."', '  "She was pretty."\n "She was really pretty."', '  "And you..."\n "you were happy."', '  "Yeah?"\n "Remember that day..."', '  "Donation box?"\n "What is that?"', '  "Speech?"\n "Can I read?"', '  "Yeah."\n "Time to go?"', '  "Yeah."\n "I\'ll be out in a minute."', '  "Holy shit."\n "I have a way."', '  "I have a way."\n "A way to protect Max."', '  "From here."\n "This is Max."', '  "This is Max."\n "But I can do that too."', '  "But I can do that too."\n "I can go into Max\'s."', '  "I can go into Max\'s."\n "She can carry me to Vecna."', '  "She can carry me to Vecna."\n "I can piggyback."', '  "I can piggyback."\n "I can protect her."', '  "From One."\n "Fight him from here."', '  "Mind fight. Righteous."\n "A bathtub would help."', '  "Crawled backwards?"\n "Come on. I know you\'re in there."', '  "Come on. I know you\'re in there."\n "I know you\'re in there. Wake up."', '  "No."\n "You\'re not going."', '  "Hi…?"\n "Max wanted to have a sleepover."', '  "Which one?"\n "This is Wonder Woman."', '  "This is Wonder Woman."\n "AKA Princess Diana."', '  "You."\n "Is this really gonna work?"', '  "See? What\'d I tell you?"\n "There\'s more to life than stupid boys."', '  "Hi."\n "I kept it open."', '  "I kept it open."\n "I kept the door open three inches."', '  "I know."\n "I never stopped believing."', '  "Not fat?"\n "And your hair."', '  "My hair?"\n "Look at your hair."', '  "Bitchin\'."\n "You aren\'t the only one that didn\'t stop believing."', '  "I\'m happy"\n "you went to your…"']

In [28]:
df = pd.DataFrame({"prompt": prompts})
df.head()

                                              prompt
0  You are Eleven (or El for short), a character ...
1  You are Eleven (or El for short), a character ...
2  You are Eleven (or El for short), a character ...
3  You are Eleven (or El for short), a character ...
4  You are Eleven (or El for short), a character ...

In [29]:
dataset = Dataset.from_pandas(df)