In [2]:
import pandas as pd

# Load Dataset

In [16]:
df = pd.read_csv("../data/transcriptS01E04.csv", on_bad_lines="skip")
df.head(10)

     name                                    line
0  Hopper                                "Joyce?"
1  Hopper        "The earth must have given way."
2  Hopper                                "Joyce?"
3  Hopper    "Do you understand what I'm saying?"
4   Joyce                                   "No."
5   Joyce   "Whoever you found... is not my boy."
6   Joyce                        "It's not Will."
7  Hopper                                "Joyce."
8   Joyce   "I talked to him... a half hour ago."
9   Joyce                "He was... He was here."